@CHARSET "utf-8";

.container {
	border: 1px solid #EEE;
	border-radius: 10px;
	box-shadow: 0 0 20px silver, inset 0 0 10px #D4D0C8;
	width: 1280px;
	min-width: 1280px;
	margin: 20px auto;
	padding: 20px;
	position: relative;
	/* 临时 */
	/*height: 500px;*/
}
.operation {
	border-bottom: 1px solid #EEE;
	padding-bottom: 10px;
	margin-bottom: 10px;
    position: relative;
}
.item-container {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	margin-right: 20px;
    *display: inline;
    zoom: 1;
    margin-top: 5px;
}
.red {
    color: red;
}
.word {
	width: 160px;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    padding: 0 3px;
    border-radius: 4px;
}
label {
    display: inline-block;
    height: 25px;
    line-height: 25px;
    width: 90px;
    text-align: right;
}
.date {
	width: 160px;
}
.product {
	width: 100px;
}
.alad-container * {
	vertical-align: middle;
}
.submit-container {
	margin-top: 10px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin-left: 39px;
}
.table-container {
	border-bottom: 1px solid #EEE;
	padding-bottom: 10px;
	margin-bottom: 10px;
	position: relative;
}
.pager {
	display: inline-block;
	height: 25px;
	line-height: 25px;
}
/* 分页列表样式  Start*/
._pager-container a {
	cursor: pointer;
	color: #333;
	display: inline-block;
	border: 1px solid #D4D4D4;
	border-radius: 4px;
	height: 24px;
	line-height: 24px;
	padding: 0 8px;
	margin: 0 3px;
	font-size: 12px;
	text-decoration: none;
}
._pager-container a:hover {
	background-color: #E8E8E8;
	text-decoration: none;
}
._pager-is-current {
	background-color: #7F8081;
	color: #fff !important;
	font-weight: bold;
}
._pager-lgthen {
	color: #337BAC;
	/*font-weight: bold;*/
}
._pager-prev-disabled, ._pager-next-disabled, ._pager-lgthen-dis {
	color: silver !important;
}
.page-sizer {
	display: inline-block;
	margin-right: 20px;
}
.export {
	text-decoration: none;
	display: none;
}
.export:hover {
	text-decoration: none;
}

/* 以下为table样式表 */
/**
 * Table整体样式
 */
.my-table-class {
    border-collapse: collapse;
    width: 100%;
    font-size: 100%;
}

/* 设置Chrome下的checkbox样式 */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .my-table-class input[type="checkbox"] {
        bottom: 2px;
        cursor: pointer;
        height: 15px;
        vertical-align: middle;
        width: 15px;
       
        position: relative;
        -webkit-appearance: none;
        -webkit-user-select: none;
        border: 1px solid rgba(0, 0, 0, 0.25);
        border-radius: 2px;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), inset 0 1px 2px rgba(255, 255, 255, 0.75);
        margin: 0 1px 0 0;
    }
    /* 画对勾 */
    .my-table-class input[type="checkbox"]:checked::before {
        position: absolute;
        left: 2px;
        top: 5px;
        content: '';
        height: 3px;
        background-color: #666;
        width: 95%;
        -webkit-transform: rotate(120deg);
    }
    .my-table-class input[type="checkbox"]:checked::after {
        position: absolute;
        left: 0;
        top: 7px;
        content: '';
        height: 3px;
        width: 5px;
        background-color: #666;
        -webkit-transform: rotate(-150deg);
    }
}

/**
 * 表头样式 TableHeader
 */
.my-table-header-class tr {
    background-color: #ccc;
}
.my-table-header-class th {
    border: 1px solid #888;
    text-align: left;
    /*vertical-align: middle;*/
    height: 35px;
    font-weight: bold;
}


/**
 * 表足样式 TableFooter
 */
.my-table-footer-class tr {
    background-color: #D4D0C8;
}
.my-table-footer-class td {
    border: 1px solid #888;
    text-align: center;
    /*vertical-align: middle;*/
    height: 35px;
}


/**
 * 表身样式 TableBody
 */
.my-table-body-class tr {
    background-color: #fff;
}
.my-table-body-class td {
    border: 1px solid #888;
    text-align: left;
    /*vertical-align: middle;*/
    height: 40px;
}

/**
 * 表身中tr hover变色样式
 */
.my-table-body-hover-class {
    background-color: #E4EAF9 !important;
}

/**
 * 子表格样式，注意此类嵌入到tr中
 */
.my-sub-table-tr-class {
    background-color: #E7ECEE !important;
}
.my-sub-table-tr-class td {
    border: 1px solid #888;
    text-align: center;
    /*vertical-align: middle;*/
    height: 20px;
}

/**
 * 折叠icon样式
 */
.sub-table-icon {
    cursor: pointer;
    display: inline-block;
    font-size: 90%;
    padding: 0;
    margin: 0;
    width: 10px;
    height: 10px;
    line-height: 10px;
    position: absolute;
    top: 0;
    left: 0;
    +top: -2px;
    +left: 1px;
}
.sub-table-icon-outer {
    color: #818181;
    border-radius: 2px;
    background-color: #fff;
    border: 1px solid #818181;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    /* 设置左偏移*/
    left: 15%;
    margin-top: -5px;
}

/**
 * 折叠icon样式（hover）
 */
.sub-table-icon-outer:hover {
    color: #fff;
    background-color: #D4D0C8;
    -webkit-animation: subTableIconOuterHover 0.5s linear infinite alternate; 
    -webkit-transform-origin: 0% 0%;
    -moz-animation: subTableIconOuterHover 0.5s linear infinite alternate; 
    -moz-transform-origin: 0% 0%;
    animation: subTableIconOuterHover 0.5s linear infinite alternate; 
    transform-origin: 0% 0%;
}
@-webkit-keyframes subTableIconOuterHover{
    0%{
        color: #818181;
        background-color: #fff;
    }
    100%{
        color: #fff;
        background-color: #D4D0C8;
    }
}
@-moz-keyframes subTableIconOuterHover{
    0%{
        color: #818181;
        background-color: #fff;
    }
    100%{
        color: #fff;
        background-color: #D4D0C8;
    }
}
@keyframes subTableIconOuterHover{
    0%{
        color: #818181;
        background-color: #fff;
    }
    100%{
        color: #fff;
        background-color: #D4D0C8;
    }
}

/* 可排序icon */
.sortable-icon-container {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    /* 设置左偏移*/
    right: 10px;
    margin-top: -10px;
}

.sort-up-icon {
	cursor: pointer;
	width: 0px; 
	height: 0px; 
	display: inline-block; 
	position: absolute;
	border: 5px solid #ccc; 
	border-bottom-color: #eee; 
	font-size: 0; 
	top: -1px;
	left: 0;
}
.sort-up-icon:hover {
	border-bottom-color: #272822; 
}
.sort-down-icon {
	cursor: pointer;
	width: 0px; 
	height: 0px; 
	display: inline-block; 
	position: absolute;
	border: 5px solid #ccc; 
	border-top-color: #eee; 
	font-size: 0; 
	bottom: -1px;
	left: 0;
}
.sort-down-icon:hover {
	border-top-color: #272822; 
}
.sort-up-icon-selected {
	border-bottom-color: #272822; 
}
.sort-down-icon-selected {
	border-top-color: #272822; 
}
.tab-switch-container {
    display: inline-block;
    margin-left: 20px;
    *display: inline;
    zoom: 1;
}
.tab-switch-container span {
    display: inline-block;
    margin-left: 23px;
    color: blue;
    cursor: pointer;
    font-size: 14px;
}
.tab-switch-container .current {
    color: gray;
    font-weight: bold;
    cursor: default;
}
.submit {
    width: 110px;
    height: 30px;
    border-radius: 4px;
}
.authed-content {
    display: none;
}
.login-container {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.login {
    width: 110px;
    height: 30px;
    border-radius: 4px;
}
.thumbnail {
    width: 80px;
    height: 80px;
}
.idsubmit-container {
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin-left: 41px;
}
.idsubmit-container-none {
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin-left: 41px;
    display: none;
}
.sure-label {
    text-align: center;
    width: 60px;
}
.deltask {
    display: inline-block;
    font-size: 120%;
    color: red;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}
.register-container {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 20px;
    color: blue;
    cursor: pointer;
}
.register-container:hover {
    text-decoration: underline;
}
.register-outer-container {
    border-top: 1px solid silver;
    margin-top: 20px;
    padding-top: 20px;
    display: none;
}
.has-logined {
    display: inline-block;
    position: absolute;
    bottom: 10px;
    right: 100px;
}
.has-logined strong {
    font-weight: bold;
}
.has-logined b {
    font-weight: normal;
    font-style: italic;
}
#Accts {
    /* 初始隐藏 */
    display: none;
}
.tips {
    display: inline-block;
    position: absolute;
    bottom: 35px;
    right: 10px;
    font-weight: bold;
    color: #fff;
    background-color: #000;
    border: 1px solid #red;
    font-size: 16px;
    padding: 5px 10px;
}
#add-user-container {
    display: none;
}
.editpass {
    display: inline-block;
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: blue;
    cursor: pointer;
}
.editpass:hover {
    text-decoration: underline;
}
#editpass-container {
    display: none;
}
#AddUserTarget {
    display: none;
    font-size: 12px;
}
#AddUserTarget:hover {
    text-decoration: underline;
}
.history-target {
    font-size: 12px !important;
    /*display: none;*/
}
.history-target:hover {
    text-decoration: underline;
}
#history-container {
    display: none;
}
/*#add-user-button {
    display: inline-block;
    color: blue;
    cursor: pointer;
    font-weight: normal;
}
#add-user-button:hover {
    text-decoration: underline;
}*/
.listInfo {
    padding-left: 39px;
    margin-top: 10px;
    font-size: 14px;
    color: gray;
    display: none;
}
.listInfo span {
    display: inline-block;
    margin-right: 30px;
    font-weight: bold;
}
.still-submit-container {
    /*display: inline-block;
    *display: inline;
    zoom: 1;*/
    display: none;
}
.still-submit-container-show {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.submit-container-hide {
    display: none;
}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    width: 38% !important;
}
#history-container .item-container label {
    width: 120px;
}
.notice {
    color: red;
}